<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h2 class="mb-4">Editar Animal</h2>
      <form [formGroup]="formularioAnimais" (ngSubmit)="handleSubmit()" class="needs-validation" novalidate>
        <div class="mb-3">
          <label for="nome" class="form-label">Nome:</label>
          <input formControlName="nome" type="text" id="nome" class="form-control" required>
          <div *ngIf="submitted || formularioAnimais.controls['nome'].touched && formularioAnimais.controls['nome'].errors?.required" class="invalid-feedback">
            O Nome é obrigatório
          </div>
        </div>

        <div class="mb-3">
          <label for="especie" class="form-label">Espécie:</label>
          <input formControlName="especie" type="text" id="especie" class="form-control" required>
          <div *ngIf="submitted || formularioAnimais.controls['especie'].touched && formularioAnimais.controls['especie'].errors?.required" class="invalid-feedback">
            A Espécie é obrigatória
          </div>
        </div>

        <div class="mb-3">
          <label for="raca" class="form-label">Raça:</label>
          <input formControlName="raca" type="text" id="raca" class="form-control" required>
          <div *ngIf="submitted || formularioAnimais.controls['raca'].touched && formularioAnimais.controls['raca'].errors?.required" class="invalid-feedback">
            A Raça é obrigatória
          </div>
        </div>

        <div class="mb-3">
          <label for="sexo" class="form-label">Sexo:</label>
          <input formControlName="sexo" type="text" id="sexo" class="form-control" required>
          <div *ngIf="submitted || formularioAnimais.controls['sexo'].touched && formularioAnimais.controls['sexo'].errors?.required" class="invalid-feedback">
            O Sexo é obrigatório
          </div>
        </div>

        <div class="mb-3">
          <label for="dataNascimento" class="form-label">Data de Nascimento:</label>
          <input formControlName="dataNascimento" type="date" id="dataNascimento" class="form-control" required>
          <div *ngIf="submitted || formularioAnimais.controls['dataNascimento'].touched && formularioAnimais.controls['dataNascimento'].errors?.required" class="invalid-feedback">
            A Data de Nascimento é obrigatória
          </div>
        </div>

        <button type="submit" class="btn btn-primary w-100" [disabled]="submitted && formularioAnimais.invalid">Confirmar Edição</button>
      </form>
    </div>
  </div>
</div>
